.p-service {
  margin-top: 40px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}
.p-service-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.p-service-image-area {
  min-height: 264px;
}
.p-service-figure {
  margin: 0;
}
.p-service-text {
}
.p-service-title {
  margin: 16px 0 0;
}
.p-service-title__management-agency {
  margin: 24px 0 0;
}
.p-service-paragraph {
  margin-top: 16px;
}
